body {
  width: 300px;
  font-family: 'Encode Sans Expanded', sans-serif;
}

input {
  background-color: #eee;
  font-size: 14px;
  border: 0px;
  border-radius: 6.25px;
  height: 25px;
  padding: 3px;
}

#swoop {
  background-color: #eee;
  font-size: 14px;
  border-radius: 6.25px;
  height: 25px;
  width: 75px;
  margin-left: 10px;
}

#clear {
  background-color: rgba(255, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  border-radius: 6.25px;
}

li {
  padding: 4px 4px;
  list-style: none;
  font-size: 14px;
}

#saves li:hover {
  border: 2px solid black;
  border-radius: 6.25px;
  padding: 4px 4px;
  cursor: pointer;
}

#newLinks {
  background-color: black;
  color: limegreen;
}

hr {
  opacity: 0.3;
}